/* General styles */
body {
  background-color: #1b1b1b;
  color: #f4f4f4;
  font-family: 'Arial', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Container to center everything */
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.fighter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* Fighter Card Styles */
.fighter-card {
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  color: white;
}

/* Search Bar Styles */
input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 250px;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
