.fighter-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  background-color: #2b2b2b;
  color: white;
  border-radius: 10px;
}

/* Nickname styling */
.nickname {
  font-size: 14px;
  color: #9f9f9f;
  margin-bottom: 5px;
}

.fighter-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.fighter-card p {
  margin: 5px 0;
}

/* Fighter stats layout */
.fighter-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.fighter-stats div {
  text-align: center;
}

.fighter-stats div p {
  margin: 0;
  font-size: 16px;
}

/* Colors for wins, losses, and draws */
.wins p:first-child {
  color: #3dff3d; /* Green color for wins */
}

.losses p:first-child {
  color: #ff6767; /* Red color for losses */
}

.draws p:first-child {
  color: #a4c1ff; /* Blue color for draws */
}
